body {
  display: block;
}
.app {
  background-color: black;
  width: 100%;
  min-height: calc(25 * 2rem);
  position: relative;
}

.app-page {
  height: 100vh;
  min-height: 580px;
}

.mainbody-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Assets/Images/MBody.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainbody-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.mainbody-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, black 15%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.4;
}

.about-headers {
  color: white;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.about-wrapper {
  display: flex;
  place-content: center;
  color: white;
  border: "1px solid white";
  margin: auto;
}

.left-col {
  width: 40%;
  border: 1px solid white;
  overflow: hidden;
}
.right-col {
  width: 40%;
  border: 1px solid red;
}

@media screen and (max-width: 700px) {
  .about-wrapper {
    flex-direction: column;
    margin: auto;
  }

  .right-col {
    width: 90%;
    margin: auto;
  }

  .about-portrait {
    display: none !important;
  }
}
